@font-face {
    font-family: 'Pixelify Sans';
    src: url('fonts/PixelifySans-Regular.ttf') format('ttf');
    /* font-weight: normal;
    font-style: normal; */
}



/* ----------------------------- General Styles ----------------------------- */
body {
    height: 100%;
    font-family: 'Montserrat', 'Roboto', Pixelated, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

::-webkit-scrollbar { 
    display: none;
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: #3b5bdb;
    text-align: right;
    padding-right: 20px;
}

a::visited{
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: #3b5bdb;
}

/* ----------------------------- Profile Section ----------------------------- */
.profile-pic {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    background-image: url("../images/White-Black-Mountain-Wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-container h1, .profile-container p {
    position: relative;
    top: 150px;
    left: 80px;
    margin: 0px 0px;
}

.profile-container h1 {
    font-size: 50px;
    /* font-family: Pixelify Sans; */
}

.profile-container p {
    font-size: 30px;
    font-family: 'Pixelify Sans', Montserrat;
}

.name-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------------------- Navbar ----------------------------- */
.navbar {
    font-family: Pixelify Sans;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c6ef5;
    margin: 0;
    /* padding: 20px 10px; */
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar li {
    margin: 0 15px;
    transform: scale(1);
    transition: 0.3s;
}

.navbar li:hover {
    transform: scale(1.1);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    transform: scale(1.1);
}

/* Hamburger menu toggle */
.menu-toggle {
    display: none;
    font-size: 1.8em;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

/* ----------------------------- Header ----------------------------- */
header {
    background: linear-gradient(to right, #4c6ef5, #3b5bdb);
    color: white;
    height: 500px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

/* ----------------------------- Sections ----------------------------- */
section {

    margin: 150px auto;
    max-width: 800px;
    padding: 0px;
    /* background: white; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 1s ease;
    
    border-top: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
    

section.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-container {
    background-color: #ecf0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    max-width: 600px;
    padding: 80px 0;
    text-align: center;
    font-size: 17px;
}

#about h2{
    text-align: center;
}

.contact-links{
    transform: scale(1);
    transition: 0.3s;
}

.contact-links:hover {
    transform: scale(1.2);

}

/* ----------------------------- Miscellaneous Elements ----------------------------- */
.cybersec-analyst-cert {
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 2.8px 2.8px 0.4px -7px rgba(0, 0, 0, 0.043),
        6.8px 6.8px 1.3px -7px rgba(0, 0, 0, 0.049),
        11.8px 11.8px 3.5px -7px rgba(0, 0, 0, 0.05),
        17px 17px 10px -7px rgba(0, 0, 0, 0.05);
}

.download-button-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 17px;
    cursor: pointer;
    /* border: 1px solid #e8e8e8; */
    transition: all 0.3s;
    
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #dddddd);
    box-shadow:  5px 5px 20px #d0d0d0,
                 -5px -5px 20px #ffffff;
}

.download-button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.CV-download{
    background: #3b5bdb;
    color: #ffffff;
    /* box-shadow: none; */
    box-shadow:  5px 5px 20px #d0d0d0,
    -5px -5px 20px #ffffff;
}

.CV-download:active{
    color: #ffffff;
    box-shadow: inset 4px 4px 12px #223582, inset -4px -4px 12px #7e98ff;
}

.certifications {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    padding-top: 25px;
}

/* ----------------------------- Skills Section ----------------------------- */
.skill-line {
    height: 8px;
    border-radius: 4px;
    margin-left: 10px;
    transition: width 0.3s ease;
}

.level-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.c1 {
    background-color: #00a005;
    width: 50%;
}

.b2 {
    background-color: #ff9900;
    width: 40%;
}

.b1 {
    background-color: #ff6600;
    width: 30%;
}

.a2 {
    background-color: #d60e00;
    width: 20%;
}

.a1 {
    background-color: #9E9E9E;
    width: 10%;
}


/* 
#digital-skills {
    display: flex;
    justify-content: center;
} */

/* h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
} */

.digital-skill {
    margin-bottom: 30px;
}

.digital-skill p {
    font-size: 18px;
}

/* .skill-line {
    height: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
} */

.high {
    background-color: #00a005; /* Magas szint - Zöld */
    width: 50%;
}

.medium {
    background-color: #ff9900; /* Közepes szint - Sárga */
    width: 40%;
}

.medium-low {
    background-color: #ff6600; /* Közepesen alacsony szint - Narancssárga */
    width: 30%;
}

.low {
    background-color: #d60e00; /* Alacsony szint - Piros */
    width: 20%;
}

.sub-skills {
    padding-left: 20px;
    margin-top: 10px;
    border-left: 2px dotted #e4e4e4;
}

.sub-skills p {
    font-size: 16px;
}

.sub-skills .skill-line {
    margin-left: 10px;
    margin-bottom: 5px;
}


/* ----------------------------- Footer ----------------------------- */

.contact-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    padding: 50px 200px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-info a img {
    height: 40px;
    margin: 0 10px;
    vertical-align: middle;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    text-align: center;
    background: #3b5bdb;
    color: white;
    padding: 10px 0;
}

li {
    margin: 5px 0;
}

/* Progress Bar */
.progress-container {
    width: 100%;
    height: 10px;
    background: #b7c5ff00;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.progress-bar {
    height: 10px;
    background: #3b5bdb;
    width: 0%;
}

/* ----------------------------- Responsive Styles ----------------------------- */
@media (max-width: 800px) {
    
    main{
        padding: 0px 15px;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }

    .navbar{
        display: none;
    }

/* 
    .menu-toggle {
        display: block;
        background-color: #4c6ef5;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        flex-direction: column;
        display: none;
        text-align: center;
        transition: transform 0.3s ease;
        transform: translateY(-100%);
    }

    .navbar.visible {
        transform: translateY(0);
    }
 
    .navbar.active {
        display: flex;
    }

    .navbar li {
        margin: 10px 0;
    }  */

    header {
        grid-template-columns: 1fr;
    }

    .profile-container {
        display: none;
    }


    #about {
        width: 100%;   
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px; 
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .certifications {
        flex-direction: column; /* A card elemek egymás alá kerülnek */
        gap: 20px; /* Csökkentett gap, hogy jobban elférjenek */
    }

    .cybersec-analyst-cert {
        width: 100%; /* A képek a teljes szélességet kitöltik */
        max-width: 400px; /* Maximum szélesség, hogy ne legyen túl nagy */
        margin-bottom: 20px; /* Kis margó, hogy ne legyen túl szoros */
    }

    .download-button-link {
        align-items: center; /* Középre igazítjuk a gombokat */
    }

    .download-button {
        padding: 1em 2em; /* A gombok kicsit nagyobbak legyenek mobilon */
        font-size: 20px;
    }



    .contact-footer {
        grid-template-columns: 1fr; /* Egy oszlopra változik */
        gap: 30px; /* Csökkentett távolság */
        padding: 30px; /* Csökkentett padding */
    }

    .contact-info, .contact-details {
        align-items: center; /* A tartalom középre igazítása */
    }
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4c6ef5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    z-index: 1000;
}

.back-button:hover {
    background-color: #FFC700;
    color: #000000;
}
