body {
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000;
    background-image: url('images/White-Black-Mountain-Wallpaper.jpg'); /* Itt add meg a képed elérhetőségét */
    background-size: cover; /* A háttérkép kitölti a teljes képernyőt */
    background-position: center center; /* A kép középre igazítása */
    background-attachment: fixed; /* A háttérkép rögzítése, hogy ne mozogjon a görgetés során */
    background-repeat: no-repeat; /* A háttérkép ne ismétlődjön */
    min-height: 100vh; /* A body legalább a képernyő magasságát kitölti */
}


.all-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    max-width: 100vw; /* A tartalom szélessége */
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */


}


header {
    text-align: center;
    margin-bottom: 50px;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

header h1 {
    margin: 10px 0;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;


    background: rgba(255,255,255,0.35);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.225);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    background-color: #ffc800;
}

.card a {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
}

.card a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #FFC700;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    z-index: 1000;
}

.back-button:hover {
    background-color: #363636;
    color: #ffffff;
}

/* For embedded iframe containers (SoundCloud, YouTube, etc.) */
.iframe-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
}

.iframe-container iframe {
    width: 100%;
    border-radius: 10px;
}

.iframe-container div {
    font-size: 15px;
    color: #cccccc;
    padding: -10px;
}

/* YouTube specific */
.youtube-iframe-container {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    margin: 20px 0;
}

.youtube-iframe-container iframe {
    border-radius: 10px;
}

/* Media Queries for responsiveness */
@media (max-width: 940px) {
    .iframe-container,
    .youtube-iframe-container {
        position: relative; /* Remove the fixed positioning */
        margin: 20px auto; /* Center the containers */
        width: 90%; /* Ensure containers take up most of the width */
        max-width: none; /* Remove max-width for flexibility */
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    .card-container {
        padding: 0 10px;
    }

    .iframe-container {
        width: 90%;
    }

    .card {
        padding: 15px;
    }

    .card svg {
        height: 80px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 18px;
    }

    .card-container {
        padding: 0 5px;
    }

    .iframe-container {
        width: 100%;
        margin: 10px auto; /* Center the iframe container */
    }

    .card {
        padding: 10px;
    }

    .card svg {
        height: 70px;
    }
}
